*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{ 
    margin: 10px auto;
    width: 70%;
}

.pink{
    height: 100px;
    background-color:violet;
}

.yellow{
    height: 270px;
    background-color: rgb(230, 230, 150);  
}

.header{
    height: 50px;
    background-color: lightblue;

}

.lightblue{
    height: 350px;
    background-color:lightblue;
    content: "";
    clear: both;
    display: table;
}

.violet{
    height: 50px;
    background-color: purple;  
}

#left{
    height: 350px;
    width: 20%;
    border-top: 10px solid rgb(92, 133, 221);
    border-right: 10px solid rgb(92, 133, 221);
    border-bottom: 10px solid rgb(92, 133, 221);
    float: left;
}

#right{
    height: 350px;
    width: 20%;
    border-top: 10px solid rgb(92, 133, 221);
    border-left: 10px solid rgb(92, 133, 221);
    border-bottom: 10px solid rgb(92, 133, 221);
    float: right;
}

#middle{
    height: 350px;
    width: 60%;
    border-top: 10px solid rgb(92, 133, 221);
    border-bottom: 10px solid rgb(92, 133, 221);
    float: left;
}
